#xf-logo {
  background-image: url(blanklogo.png);
	height: 75px;
}

#savebutton3 {
    top: 400px;
    font-weight: bolder;
    left: 2%;
    margin-top: -2.5em;
    position: fixed;
    box-shadow: 0px 0px 10px #000;
}

#savebutton2 {
    background-color: red;
    top: 400px;
    color: white;
    font-weight: bolder;
    left: 2%;
    margin-top: -2.5em;
    min-height: 55px;
    position: fixed;
    width: 8em;
    box-shadow: 0px 0px 10px #000;
}
#table-actions-dashall-link {
  /*font-weight: bolder;*/
  font-size: 2em;
  height: 3em;
  line-height: 2.7em;
  min-width: 150px;
  background-size: cover;
  border-style: solid;
  border-width: 0.015em;
  background-color: #ECC8A3;
}

.left_column_mobile_move-copyof ul li a {
  font-weight: bolder;
  font-size: 2em;
  height: 3em;
  line-height: 2.7em;
  min-width: 150px;
  background-size: cover;
  border-style: solid;
  border-width: 0.015em;
  background-color: #ECC8A3;
}

#table-actions-dashall-link-backup1 {
    font-weight: bolder;
    font-size: 2.0em;
    height: 3em; 
    line-height: 3em;
    /* width: 19em; */
    background-size: cover; 
    border-style:solid;
    border-width: 0.15em;
    background-color:#ECC8A3;
    /* brown #ECC8A3 */
    /* blueish #E5E5FF */
}
  
/*for jquery mobile validate error text color and postion.*/
label.error { 
	float: center; 
	color: red; 
	padding-top: .5em; 
	vertical-align: top; 
	font-weight:bold
}

