{use_macro file="dashboard_Template.html"}
{fill_slot name="main_column"}
<h4 style="text-align: center;">Production Status Dashboard</h4>

<!-- 
<p>This is a mobile app for filing Downtime Status Reports. 
-->

<ul>
    <div>
        <!--<img src="{$ENV.DATAFACE_URL}/images/add_icon.gif"/>-->
        <a href="{$ENV.DATAFACE_SITE_HREF}?-table=pr_downtime1&-action=create_dtime" class="btn btn-lg btn-success">NEW Downtime (mobile)</a>
   </div>
   
    <div>
      <br><p> <font size="6em"> <span class="label label-default">Edit</span> </font></p>
        <select onchange="window.location.href = this.options[this.selectedIndex].value" id="dash-select1">
            <option value="">Select ...</option>
            {foreach from=$pr_downtime1 item=arecord}
            <option value="{$arecord->getURL('-action=edit_dtime')}">
                {$arecord->getTitle()}
            </option>
            {/foreach}
        </select>
       <br/> List shows: Machine - Problem - Completedtime.  
    </div>

    <div>
      <br><p> <font size="6em"> <span class="label label-default">Edit (quickly close) </span> </font></p>
        Completedtime is prefilled with the current time.  <br/>
        <select onchange="window.location.href = this.options[this.selectedIndex].value" id="dash-select1">
            <option value="">Select ...</option>
            {foreach from=$pr_downtime1 item=arecord}
            <option value="{$arecord->getURL('-action=edit_dtime_quickclose')}">
                {$arecord->getTitle()}
            </option>
            {/foreach}
        </select>
       <br/> List shows: Machine - Problem - Completedtime.  <br/>
    </div>
     <p>  </p>
	 <div>
        <a href="{$ENV.DATAFACE_SITE_HREF}?-table=vw_open" class="btn btn-lg btn-success">Open Status and More...</a>
    </div>
	<p>  </p>
	 <div>
        <a href="{$ENV.DATAFACE_SITE_HREF}?-table=pr_downtime1" class="btn btn-lg btn-success">Downtime List</a>
    </div>

    <div>
    <p>  </p>
	<p> <font size="3.5em"> <span class="label label-default">Notes: </span> </font></p>
    <p> <font size="2.3em"> Default sort order for Downtime is: 
    <br>Newest open items first, followed by Newest closed items.</font></p>
   </div>
    
</ul>
{/fill_slot}
{/use_macro} 
